html {
  font-size: 16px;
}

body {
  @media only screen and (max-width: 767px) {
    font-size: rem(14);
  }
  font-family: 'kamerik-my', 'kamerik-my Fallback', sans-serif;
  color: #fff;
  line-height: 1.4;

  min-width: 320px;
  position: relative;

  //overflow-x: hidden;
  background-color: #000;
}

/* Apply focus styles */
:focus-visible, :focus {
  outline: 2px solid #f4a70b;
  outline-offset: 2px;
}

/* Remove the focus outline */
:focus:not(:focus-visible) {
  outline: none;
}

::selection {
  color: white;
  background: #8AB066;
}